@import "reset.scss";
@import "homepage.scss";
@import "navigation.scss";

$colors: "pink", "red", "orange", "yellow", "green", "blue", "purple", "silver";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}

$navHeight: 30px;

body {
  background-color: #000;
  color: #fff;
}

.big-pushy {
  background-color: #a7cee0;
  border: 4px solid #cae8ef;
  color: #242627;

  font-family: Barlow, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 6px;
  margin-right: 18px;
  padding: 10px 24px;
  box-shadow: 0px 10px 0px #0d4d63, 0px 20px 10px rgba(0, 0, 0, 1);
  outline: none;
  transition: 0.1s all linear;
  opacity: 1;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: #dbe4e9;
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: 0px 8px 0px #0d4d63, 0px 18px 10px rgba(0, 0, 0, 1);
    opacity: 1;
  }
  &:active {
    transform: translateY(8px);
    box-shadow: 0px 2px 0px rgb(187, 187, 187), 0px 12px 10px rgba(0, 0, 0, 1);
  }
}

.game-page {
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: Barlow, sans-serif;

  .game-sized-container {
    width: 1000px;
    height: 600px;
    position: absolute;
  }

  .background-container {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.attract {
      background-image: url("/images/gameAssets/attract-background.png");
      background-size: cover;

      .game-sized-container {
        background-image: url("/images/gameAssets/attract-main.png");
        background-size: cover;
      }

      .button-container {
        position: absolute;
        text-align: left;
        bottom: 0;
        left: 0;
      }
    }

    &.choose-character {
      background-image: url("/images/gameAssets/choose-character-background.png");
      background-size: cover;

      h1 {
        font-size: 60px;
        margin-top: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    &.name-collection {
      background-image: url("/images/gameAssets/name-collection-background.png");
      background-size: cover;
      background-position: center;

      .game-sized-container {
        background-image: url("/images/gameAssets/name-collection-main.png");
        background-size: cover;
        position: relative;
        background-position: center;
      }

      .input-section {
        position: absolute;
        bottom: 100px;
        text-align: center;
        width: 100%;

        input {
          font-size: 50px;
          font-weight: 500;
          background-color: transparent;
          color: #fff;
          border: 4px solid #cae8ef;
          outline: none;
          font-family: Barlow, sans-serif;
          text-transform: uppercase;
          font-size: 30px;
          border-radius: 6px;
          margin-right: 18px;
          padding: 10px 24px;
          position: relative;
          top: 8px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      h1 {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 90px;
        margin-top: 50px;
        text-transform: uppercase;
      }
      h2 {
        text-shadow: 0 0 10px #fff;
        display: inline-block;
        position: absolute;
        left: 110px;
        top: 183px;
        width: 450px;
        font-weight: 500;
        font-size: 100px;
        text-align: right;
      }
    }

    &.instructions {
      background-image: url("/images/gameAssets/attract-background.png");
      background-size: cover;

      .game-sized-container {
        width: 600px;

        h1 {
          text-shadow: 0 0 10px #fff;
          width: 100%;
          text-align: center;
          font-weight: 600;
          font-size: 60px;
          text-transform: uppercase;
          margin-bottom: 20px;
          margin-top: 40px;
        }

        h2 {
          display: inline-block;
          font-weight: 500;
          font-size: 30px;
          opacity: 0.5;
          margin-bottom: 40px;
        }

        p {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 30px;
          letter-spacing: 1px;
        }

        .button-container {
          position: absolute;
          bottom: 60px;
          width: 100%;
        }
      }
    }

    &.staging {
      background-image: url("/images/gameAssets/staging-background.png");
      background-size: cover;
      background-position: center;

      .game-sized-container {
        background-image: url("/images/gameAssets/staging-main.png");
        background-size: cover;
        position: relative;
        background-position: center;
      }

      h1 {
        font-size: 60px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;

        em {
          font-weight: 600;
          text-shadow: 0 0 10px #fff;
        }
      }

      .button-container {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 50px;

        button.big-pushy {
          margin-right: 0;
        }
      }

      .hit-enter {
        width: 100%;
        position: absolute;
        padding-top: 40px;
        bottom: 0;
        font-size: 28px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        text-shadow: 0 0 4px #000;
      }
    }

    &.game-character {
      background-image: url("/images/gameAssets/choose-character-background.png");
      background-size: cover;

      h1 {
        font-size: 60px;
        margin-top: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .playing {
      .three-panel {
        &::before {
          content: "";
          z-index: -1;
          width: 1400px;
          height: 600px;
          position: absolute;
          left: 50%;
          margin-left: -700px;
          background-image: url("/images/gameAssets/playing-background.png");
        }
      }
    }
  }

  .highscores-container {
    font-size: 24px;
    position: absolute;
    right: 0;
    bottom: 0;

    h1 {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #fff;
      text-align: left;
      letter-spacing: 2px;
      text-shadow: 0 0 10px #fff;
    }
    .highscore-row {
      margin-bottom: 10px;
    }
    .color {
      display: inline-block;
      width: 22px;
      height: 22px;

      // TODO: set colors for color-pink, color-red, etc using actual colors

      margin-right: 10px;
      background-size: cover;

      @each $color in $colors {
        &.color-#{$color} {
          background-image: url("/images/gameAssets/highscore-mellow-#{$color}.png");
        }
      }
    }

    .score {
      display: inline-block;
      width: 70px;
      text-align: left;
      margin-right: 20px;
    }

    .name {
      display: inline-block;
      overflow: hidden;
      width: 200px;
      text-align: left;
    }
  }
  .character-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mallow {
      width: 240px;
      height: 150px;
      margin-bottom: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.2s all;

      @each $color in $colors {
        &.mallow-#{$color} {
          background-image: url("/images/gameAssets/choose-character-#{$color}.png");
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.2s all;
      }
    }
  }
  .three-panel {
    display: flex;
    width: 1000px;
    margin: 0 auto;
  }
  .sidebar {
    width: 200px;

    &.sidebar-left {
      position: relative;
      // background-color: rgb(89, 89, 119);
      .level {
        position: absolute;
        width: 100px;
        text-align: center;
        top: 50px;
        left: 50px;

        h3 {
          font-size: 50px;
          margin-bottom: 5px;
          font-weight: bold;
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);

          &.score {
            font-size: 40px;
          }
        }

        h2 {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
          margin-bottom: 40px;
        }
      }
      .lives {
        position: absolute;
        width: 100px;
        bottom: 148px;
        left: 30px;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
      }
    }
    &.sidebar-right {
      .mobile-control,
      .mobile-control-shoot {
        display: none;
      }
      // background-color: rgb(107, 148, 141);
    }
  }
}

@media only screen and (max-width: 800px) {
  .navigation {
    .logo-container {
      transform: scaleX(-1);
      left: auto;
      right: 20px;
    }

    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  .game-page {
    .three-panel {
      width: 300px;
      flex-wrap: wrap;
    }

    canvas {
      width: 300px;
      height: 300px;
    }

    .sidebar {
      width: 100%;
      height: 150px;
    }

    .game-sized-container {
      width: 300px;
    }

    .big-pushy {
      margin-bottom: 26px;
      width: 100%;
      font-size: 24px;
      padding: 6px 12px;
    }

    .background-container.attract {
      .game-sized-container {
        background-size: 450px;
        background-repeat: no-repeat;
        background-position: left top;

        .button-container {
          bottom: auto;
          top: 260px;
        }

        .highscores-container {
          top: 410px;
          bottom: auto;
          font-size: 20px;

          h1 {
            padding: 10px;
            text-align: center;
            margin-bottom: 15px;
          }

          .highscore-row {
            margin-bottom: 6px;
          }

          .score {
            width: 70px;
          }

          .color {
            height: 15px;
            width: 15px;
          }

          .name {
            width: 160px;
          }
        }
      }
    }

    .background-container.choose-character {
      h1 {
        font-size: 30px;
      }

      .character-container {
        top: 140px;
        bottom: auto;
      }

      .mallow {
        width: 140px;
        height: 80px;
        margin-bottom: 15px;
      }
    }

    .background-container.staging {
      .game-sized-container {
        background-image: url("/images/gameAssets/mobile-staging-main.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .background-container.instructions {
      .game-sized-container {
        width: 300px;

        h1 {
          margin-top: 10px;
          font-size: 32px;
        }

        .button-container {
          position: static;
        }
      }
    }

    .background-container {
      background-image: url("/images/gameAssets/mobile-playing-background.png");
      background-size: cover;
      background-position: center center;

      .sidebar-left {
        background-image: url("/images/gameAssets/mobile-playing-main.png");
        background-size: cover;
        background-position: center center;

        .level {
          top: 18px;
          left: 68px;
          h3 {
            font-size: 20px !important;
          }
          h2 {
            font-size: 20px !important;
          }
        }
        .lives {
          font-size: 30px;
          text-align: right;
          bottom: 47px;
          left: 45px;
        }
        .mobile-level {
          position: absolute;
          left: 90px;
          top: 0;
        }
        .mobile-score {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .sidebar-right {
        position: relative;

        // background-image: url("/images/gameAssets/mobile-playing-main.png");
        // background-size: cover;
        // background-position: center center;
        .mobile-control {
          position: absolute;
          left: 20px;
          display: block;
          top: 20px;
          width: 120px;
          height: 120px;
          background-color: none;
          background-image: url("/images/gameAssets/mobile-playing-control.png");
          background-size: cover;
          background-position: center;
        }
        .mobile-control-shoot {
          position: absolute;
          left: 193px;
          display: block;
          top: 50px;
          width: auto !important;
          height: auto !important;
          transition: none !important;
        }
      }

      .playing {
        .three-panel {
          &::before {
            background: transparent;
            background-image: none;
          }
        }
      }
    }
  }
}
