html,
body {
    background-color: #000;
    height: 100%;
    width: 100%;
    color: #fff;
}

#duel-content {
    width: 1920px;
    height: 1080px;
}

.duel-controller-page {
    padding: 50px;
}

#duel-controller-content {
    font-family: monospace;
    .history {
        font-size: 14px;
        .history-line {
            margin-bottom: 4px;
        }
    }
    .event-textbox {
        margin-right: 5px;
        width: 100px;
    }
    .dem {
        color: #666;
        margin-right: 6px;
        display: inline-block;
    }
    input {
        width: 300px;
        margin-bottom: 8px;
        font-family: monospace;
        font-size: 14px;
        padding: 10px 10px;
        color: #fff;
        background-color: #000;
        border: 1px solid #aaa;
        outline: none;
    }

}
