.navigation {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+1,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px 20px 60px;

  .logo-container {
    background-image: url("/images/mallow-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 49px;
    display: inline-block;
    position: fixed;
    left: 20px;
    top: 20px;
  }

  .mobile {
    display: none;
    position: fixed;
    z-index: 1;

    .menu-btn {
      position: fixed;
      z-index: 9;
      left: -50px;
    }

    .menu-btn-hit-area {
      position: fixed;
      left: 0;
      top: 0;
      height: 80px;
      width: 80px;
      display: block;
      z-index: 10;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      .hotdog {
        position: fixed;
        width: 26px;
        height: 3px;
        background-color: #fff;
        border-radius: 1.5px;
        transition: 0.2s all;
      }

      .hotdog-top {
        left: 22px;
        top: 26px;
      }

      .hotdog-middle {
        left: 22px;
        top: 36px;
      }

      .hotdog-bottom {
        left: 22px;
        top: 46px;
      }
    }

    .mobile-menu {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,131313+100&1+0,0+100 */
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 1) 0%,
        rgba(19, 19, 19, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(19, 19, 19, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00131313',GradientType=1 ); /* IE6-9 */

      position: fixed;
      z-index: 6;
      top: 0;
      bottom: 0;
      left: -300px;
      width: 300px;
      transition: 0.2s all;

      ul {
        margin-top: 80px;
        margin-left: 25px;

        li {
          display: block;
          text-align: left;
          margin-bottom: 15px;

          a {
            display: inline-block;
          }

          &.tickets {
            margin-left: 12px;
          }

          &.active {
            a:after {
              border: none;
              border-left: 2px solid rgb(255, 221, 27);
              left: -3px;
              top: 6px;
              bottom: 6px;
            }
          }
        }
      }
    }

    .menu-btn:checked ~ .menu-btn-hit-area {
      .hotdog-top {
        transform: rotate(45deg) translate(6px, 7px);
      }

      .hotdog-middle {
        opacity: 0;
        transform: translateX(-10px);
      }

      .hotdog-bottom {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }

    .menu-btn:checked ~ .mobile-menu {
      left: 0;
      transition: 0.2s all;
    }
  }

  ul {
    text-align: right;

    li {
      position: relative;
      font-family: Barlow, sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2px;
      display: inline-block;

      a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
      }

      &.tickets {
        a {
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          color: #000;
          font-weight: 700;
        }
      }

      &.active {
        a {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            top: 0;
            bottom: 0;
            z-index: -1;
            border-bottom: 2px solid rgb(255, 221, 27);
          }
        }
      }
      &.disabled-nav {
        opacity: 0.2;
        a {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
