<!DOCTYPE html>
<html>

<head>
  <base target="_parent">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/javascript/iframeResizer.contentWindow.min.js"></script>
  <script src="/javascript/socket.io.js"></script>
  <script src="/javascript/tweets.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>