<!DOCTYPE html>
<html>

<head>
    <title>IGNITE - MIT 2.009 Final Presentations - The DUEL</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/bundle/duel.css' />
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="duel-page">
        <div id="duel-content">
            loading content...
        </div>
    </div>
    <script type="text/javascript" src="/bundle/duelpage.js"></script>
</body>

</html>