<div class="home-page">
  <div class="flex-container">
    <div class="flex-item">
    <div>
      <img src="images/ignite-text-white.png" class="ignite-text" alt="IGNITE" width="700px">
    </div>
    <div>
      <img src="images/flame.gif" class="flame-gif" alt="animated flame" width="1160px">
    </div>

    <p class="info-title">
      MIT 2.009 Product Launch
    </p>
    <p class="info-date">
      December 09 &middot; Monday 7:30PM
    </p>

  </div>
  </div>
</div>
{{!-- <script type="text/javascript" src="/bundle/bookings.js"></script> --}}
