<div class="home-page">
    <div class="flex-container full-background">
        <div class="flex-item">
            <div class="mallow-container">
                <svg width="900" height="385" viewBox="0 0 900 385" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M253.5 44L155.5 83L202 168L269.5 141L253.5 44Z"
                        stroke="black" />
                    <rect x="0.5" y="0.5" width="899" height="384"
                        stroke="black" />
                </svg>

            </div>
            <div>
                <img src="images/ignite-text-white.png" class="ignite-text"
                    alt="IGNITE" width="700px">
            </div>
            <div>
                <img src="images/flame.gif" class="flame-gif"
                    alt="animated flame" width="1160px">
            </div>

            <p class="info-title">
                MIT 2.009 Product Launch
            </p>
            <p class="info-date">
                December 09 &middot; Monday 7:30PM
            </p>

        </div>
    </div>
</div>
{{!-- <script type="text/javascript" src="/bundle/bookings.js"></script> --}}