<div class="home-page">
    <div class="flex-container full-background">
        <div class="flex-item">
            <div class="mallow-container">

                <!-- yellow -->
                <svg class="svg-graphic" width="900" height="385"
                    viewBox="0 0 900 385" xmlns="http://www.w3.org/2000/svg"
                    xlink="http://www.w3.org/1999/xlink" version="1.1">
                    <g>
                        <clipPath id="red-mask">
                            <path
                                d="M202 210L129 301.5L228 368.5L348.5 270L307.5 231L260.5 252.5L202 210Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="orange-mask">
                            <path d="M693 200H615V279H693V200Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="yellow-mask">
                            <path
                                d="M253.5 44L155.5 83L202 168L269.5 141L253.5 44Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="green-mask">
                            <path
                                d="M106.939 177L31 207.644L63.2905 287.664L139.229 257.02L106.939 177Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="blue-mask">
                            <path
                                d="M867.529 153.994L776.5 129.5L713 155.5L711 242.5L844.5 250L867.529 153.994Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="purple-mask">
                            <path
                                d="M436.493 72.7456L365.897 47.4957L335.404 132.75L406 158L436.493 72.7456Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="silver-mask">
                            <path d="M650 45H556V126.5H650V45Z"
                                stroke="black" />
                        </clipPath>
                        <clipPath id="pink-mask">
                            <path d="M595 198L517 186V263L595 296.5V198Z"
                                stroke="black" />
                        </clipPath>

                    </g>
                    <image class="hide mallow-clipped-red" x="0" y="0"
                        clip-path="url(#red-mask)"
                        xlink:href="/images/mallow-background/red-mallow-out.png" />

                    <image class="hide mallow-clipped-orange" x="0" y="0"
                        clip-path="url(#orange-mask)"
                        xlink:href="/images/mallow-background/orange-mallow-out.png" />

                    <image class="hide mallow-clipped-yellow" x="0" y="0"
                        clip-path="url(#yellow-mask)"
                        xlink:href="/images/mallow-background/yellow-mallow-out.png" />

                    <image class="hide mallow-clipped-green" x="0" y="0"
                        clip-path="url(#green-mask)"
                        xlink:href="/images/mallow-background/green-mallow-out.png" />

                    <image class="hide mallow-clipped-blue" x="0" y="0"
                        clip-path="url(#blue-mask)"
                        xlink:href="/images/mallow-background/blue-mallow-out.png" />

                    <image class="hide mallow-clipped-purple" x="0" y="0"
                        clip-path="url(#purple-mask)"
                        xlink:href="/images/mallow-background/purple-mallow-out.png" />

                    <image class="hide mallow-clipped-silver" x="0" y="0"
                        clip-path="url(#silver-mask)"
                        xlink:href="/images/mallow-background/silver-mallow-out.png" />

                    <image class="hide mallow-clipped-pink" x="0" y="0"
                        clip-path="url(#pink-mask)"
                        xlink:href="/images/mallow-background/pink-mallow-out.png" />
                </svg>

                <div class="mallow mallow-red in"></div>
                <div class="mallow mallow-red out"></div>
                <div class="mallow mallow-orange in"></div>
                <div class="mallow mallow-orange out"></div>
                <div class="mallow mallow-yellow in"></div>
                <div class="mallow mallow-yellow out"></div>
                <div class="mallow mallow-green in"></div>
                <div class="mallow mallow-green out"></div>
                <div class="mallow mallow-blue in"></div>
                <div class="mallow mallow-blue out"></div>
                <div class="mallow mallow-silver in"></div>
                <div class="mallow mallow-silver out"></div>
                <div class="mallow mallow-pink in"></div>
                <div class="mallow mallow-pink out"></div>
                <div class="mallow mallow-purple in"></div>
                <div class="mallow mallow-purple out"></div>

            </div>

            <div class="ignite-text-container">
                <img src="images/ignite-text-white.png" class="ignite-text"
                    alt="IGNITE" width="700px">
            </div>

            <div>
                <img src="" class="flame-gif" alt="animated flame"
                    width="1160px">
            </div>

            <div class="everything-else">
                <p class="info-title">
                    MIT 2.009 Product Launch
                </p>
                <p class="info-date">
                    monday, december 9th &middot; 7:30PM
                </p>
                <div>
                    <div>
                        <a class="tickets-btn big-pushy rsvp-btn" href="/">RSVP
                            SYSTEM</a>
                    </div>
                    <div>
                        <a class="game-btn big-pushy" href="/game">PLAY THE
                            GAME</a>
                    </div>
                </div>
            </div>

            <!-- <svg width="900" height="385" viewBox="0 0 900 385" fill="none"
-->
            <!--
                <div id="mallow-red-reference" class="mallow"></div>
                <div id="mallow-orange-reference" class="mallow"></div>
                <div id="mallow-yellow-reference" class="mallow"></div>
                <div id="mallow-green-reference" class="mallow"></div>
                <div id="mallow-blue-reference" class="mallow"></div>
                <div id="mallow-purple-reference" class="mallow"></div>
                <div id="mallow-silver-reference" class="mallow"></div>
                <div id="mallow-pink-reference" class="mallow"></div>

                <div class="mallow mallow-blue in"></div>
                <div class="mallow mallow-blue out"></div>

                <div class="mallow mallow-yellow in"></div>
                <div class="mallow mallow-yellow out"></div>

                <div class="mallow mallow-red in"></div>
                <div class="mallow mallow-red out"></div>

                <div class="mallow mallow-orange in"></div>
                <div class="mallow mallow-orange out"></div>


                <div class="mallow mallow-green in"></div>
                <div class="mallow mallow-green out"></div>

                <div class="mallow mallow-purple in"></div>
                <div class="mallow mallow-purple out"></div>

                <div class="mallow mallow-pink in"></div>
                <div class="mallow mallow-pink out"></div>


                <div class="mallow mallow-silver in"></div>
                <div class="mallow mallow-silver out"></div>

                <<div class="mask mask-yellow" id="yellow-mask"></div>
                <div class="mask mask-silver" id="silver-mask"></div>
                <div class="mask mask-green" id="green-mask"></div>
                <div class="mask mask-blue" id="blue-mask"></div>
                <div class="mask mask-orange" id="orange-mask"></div>
                <div class="mask mask-pink" id="pink-mask"></div>
                <div class="mask mask-red" id="red-mask"></div>
                <div class="mask mask-purple" id="purple-mask"></div>


                <div class="full-page-background"></div>
-->
            {{!-- <svg class="clipping-mask" width="900" height="385"
                    viewBox="0 0 900 385" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M253.5 44L155.5 83L202 168L269.5 141L253.5 44Z"
                        stroke="black" />
                    <rect x="0.5" y="0.5" width="899" height="384"
                        stroke="black" />
                </svg> --}}

        </div>
    </div>

    <div class="under-the-fold">
        <p>
        The student teams and staff of MIT's 2.009 Product Engineering
        Processes class invite you
        to participate in the extraordinary launch of their 8 new product
        prototypes. The theme is IGNITE! Ignite is a call to make something
        happen—to do
        something new. Instigating
        play, growth, revolution, curiosity, feelings, connection, and much
        more.
    </p>
    <p>
        During the presentations, guests are invited to review products and
        provide feedback to the
        student teams via forms provided at the event. This is a valued part of
        the educational
        experience. So, too, is the reception that follows at Kresge, where you
        can mingle with
        students and friends and try out the products at team booths.
    </p>
        <div>
        Monday, December 9, 2019
    </div>
    <div>
        MIT Kresge Auditorium
     </div>
            <div>
        Presentations 7:30 PM sharp-10:00 PM
        Reserved seating until 7:15 PM
    </div>
    <div>
        <p>
        Tickets for the general public are available via a lottery. We recommend
        that you enter the
        lottery early. We will be holding 3 lotteries (Dec 2, Dec 5 and Dec 6),
        so the earlier you enter
        the lottery, the more chances you will have to be selected for a ticket.
    </p>
    <p>
        You are also enthusiastically encouraged to invite other colleagues,
        friends, and family by
        using the RSVP website to generate an invitation for them to enter the
        seat lottery.
    </p>
    <p>
        If you cannot attend, you may watch the presentations live on
        the webcast linked from the
        presentation home page or on Facebook Live on the  MechE Facebook page .
        We hope to see you there!
    </p>
    <p>
        Sincerely,<br>
        The 2.009 staff <br>
        David Wallace, Nicholas Albaugh, Erika Anderson, Atissa Banuazizi, Jared
        Berezin, Audrey
        Bosquet, Danny Braunstein, John Brisson, Kelly Chen, Keith Clavin, Grace
        Connors, Bill
        Cormier, James Dudley, Chevalley Duhart, Lauren Futami, Danny Goldfield,
        Steve Haberek,
        Victor Hung, David Larson, Laura McKee, Peter Nielsen, Christine Noh,
        Nate Phipps, Rob
        Podoloff, Josh Ramos, Ellen Roche, Juergen Schoenstein, Tasker Smith,
        Elizabeth Soergel,
        Juhan Sonin, Rebecca Thorndike-Breeze, Geoff Tsai, Georgia Van de Zande,
        Richard
        Wiesman
    </p>

        <h2> Parking information and assistance: </h2>
        <p>
        The  MIT Stata parking garage  (32 Vassar St, Cambridge, MA 02139, under
        the Ray and
        Maria Stata Center) will be open for guest parking starting from 5 pm.
        Please allow 10-15
        minutes to walk from the garage to Kresge Auditorium (48 Massachusetts
        Ave, Cambridge,
        MA 02139). The  Kresge lot , adjoining the auditorium, is also available
        for guests with
        special needs. Please contact us if you have special requirements.
    </p>
    <p>
        If needed, guests may take a shuttle bus to Kresge Auditorium and back
        to the Stata Center
        Garage. The bus will run continuously between the Stata Center and
        Kresge Auditorium
        from 5:30-7:30PM and 10:15-11:00PM.
        <p>
            <p>

        If you need further assistance, please  email us .
    </p>
    </div>
</div>
{{!-- <script type="text/javascript" src="/bundle/bookings.js"></script> --}}

</div> <!-- div flex-item -->
</div> <!-- div flex-container full-background -->
<div id="home-content"></div>
</div>

<script type="text/javascript" src="/bundle/homepage.js"></script>

<script type="text/javascript">
    window.onload = () => {
        console.log("loaded");

        var urlP = 'none';
        function parseQueryString(url) {
            var urlParams = {};
            url.replace(new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                function ($0, $1, $2, $3) {
                    urlParams[$1] = $3;
                });
            return urlParams;
        }

        function setRSVPUrl() {
            var urlParams = parseQueryString(location.search);

            if (urlParams['invite'] != undefined) {
                urlP = urlParams['invite'];

                console.log(urlParams);

                for (const elem of document.getElementsByClassName("rsvp-btn")) {
                    console.log(elem);
                    elem.href = 'https://2009.mit.edu/apps/rsvp/login/' + urlParams['invite'];
                }

            } else {
                // $('.rsvp-btn').text('Ticket System')
            }

            // Clears the url to a blank state incase they want to share the URL
            // Elaine, do you remember why this was commented out? - Victor, Nov 27, 2018 3:41am
            // Oh hey, this was a comment from last year!
            // window.history.replaceState({}, document.title, "/");
        }

        setRSVPUrl();
    }
</script>
