<!DOCTYPE html>
<html>

<head>
    <title>IGNITE - MIT 2.009 Final Presentations</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/bundle/app.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Concert+One&display=swap"
        rel="stylesheet">

    {{!-- <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap"
        rel="stylesheet"> --}}
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap"
        rel="stylesheet">

    <!-- these fb property tags are actually hard to find. here's a link: https://developers.facebook.com/docs/sharing/webmasters#markup -->
    <meta property="og:url" content="http://009ignite.com">
    <meta property="og:type" content="event">
    <meta content="2.009 Product Launch" property="og:site_name">
    <meta content="RSVP for 2.009 Final Presentations" property="og:title">
    <meta content="http://009ignite.com" property="og:url">
    <meta content="1 Semester, 8 Teams, 8 New Products!"
        property="og:description">
    <meta content="http://009ignite.com/images/ignite-og.png"
        property="og:image">

    <!-- and now time for Twitter -->
    <meta name="twitter:card" content="summary_large_image">

    <meta name="twitter:site" content="@009minions">
    <meta name="twitter:creator" content="@009minions">
    <meta name="twitter:title" content="2.009 Product Launch">
    <meta name="twitter:url" content="http://009ignite.com">
    <meta name="twitter:description"
        content="1 Semester, 8 Teams, 8 New Products!">
    <meta name="twitter:image"
        content="http://009ignite.com/images/ignite-og.png">
</head>

<body>
    <div class="navigation">
        <a href="/" class="logo-container">
        </a>
        <div class="desktop">

            <div class="menu-items">
                <ul>
                    <li class="{{#if isHome}}active{{/if}}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{{#if isGame}}active{{/if}}">
                        <a href="/game">Game</a>
                    </li>
                    <li class="{{#if isWebcast}}active{{/if}}">
                        <a href="/webcast">Webcast</a>
                    </li>
                    <li class="{{#if isProducts}}active{{/if}}">
                        <a href="/products">Products</a>
                    </li>
                    <li class="{{#if isProgram}}active{{/if}}">
                        <a href="/program">Program</a>
                    </li>
                    {{!-- <li class="tickets">
                        <a class="rsvp-btn" href="/">Tickets</a>
                    </li> --}}
                </ul>
            </div>
        </div>
        <div class="mobile">
            <input class="menu-btn" id="menu-btn" type="checkbox">
            <label class="menu-btn-hit-area" for="menu-btn">
                <div class="hotdog-top hotdog"></div>
                <div class="hotdog-middle hotdog"></div>
                <div class="hotdog-bottom hotdog"></div>
            </label>
            <div class="mobile-menu">
                <ul>
                    <li class="{{#if isHome}}active{{/if}}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{{#if isGame}}active{{/if}}">
                        <a href="/game">Game</a>
                    </li>
                    <li class="{{#if isWebcast}}active{{/if}}">
                        <a href="/webcast">Webcast</a>
                    </li>
                    <li class="{{#if isProducts}}active{{/if}}">
                        <a href="/products">Products</a>
                    </li>
                    <li class="{{#if isProgram}}active{{/if}}">
                        <a href="/program">Program</a>
                    </li>
                    {{!-- <li class="tickets">
                        <a class="rsvp-btn" href="">Tickets</a>
                    </li> --}}
                </ul>
            </div>
        </div>
    </div>
    {{{body}}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-71118626-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-71118626-3');
    </script>

</body>

</html>