<div class="products">
    <div class="products-container">
        <a class="team-product-pink" href="https://www.abhitivaish.com/2009/brochure.html">
            <div class="text-container">
                <div class="team-name">
                    Pink
                </div>
                <div class="product-name">
                    Rho
                </div>
            </div>
        </a>
    </div>
</div>