<div class="products">
    <div class="products-container">
        <a href="https://www.abhitivaish.com/2009/brochure.html">
            <div class="team-name">
                Pink
            </div>
            <div class="product-name">
                Rho
            </div>
        </a>
    </div>
</div>