<div class="programs">
    <div class="program-container">
        <img src="/images/p_program1.png" width="100%" />
        <img src="/images/p_program2.png" width="100%" />
        <img src="/images/p_program3.png" width="100%" />
        <img src="/images/p_program4.png" width="100%" />
    </div>
</div>