<div class="container">
    <div class="vertical-container">
        <div class="event-details">MONDAY · 7:30PM · DEC&nbsp;9,&nbsp;2019</div>
        <h1>IGNITE</h1>
        <div class="event-information">
            <div class="event-line">MIT <em>2.009</em> 2019</div>
            <div class="event-line">Final Presentations</div>
        </div>
        <div class="rsvp-notice">
            RSVP SYSTEM COMING SOON
        </div>
        <div class="textbox-notice">
            <a href="http://web.mit.edu/2.009/www/rsvp_notify.html"><em>NOTIFY
                    ME</em> WHEN RSVPS SYSTEM OPENS</a>
        </div>
    </div>
</div>
<script> </script>
{{!-- <script type="text/javascript" src="/bundle/bookings.js"></script> --}}