<div class="container">
    <div class="vertical-container">
        <div class="event-details">MONDAY · 7:30PM · DEC&nbsp;9,&nbsp;2019</div>
        <h1>IGNITE</h1>
        <div class="event-information">
            <div class="event-line">MIT <em>2.009</em> 2019</div>
            <div class="event-line">Final Presentations</div>
        </div>
        <div class="rsvp-notice">
            TICKETING STARTS SOON
        </div>
        <div class="textbox-notice">
            <a href=""><em>NOTIFY ME</em> WHEN TICKETING BEGINS</a>
        </div>
    </div>
</div>

{{!-- <script type="text/javascript" src="/bundle/bookings.js"></script> --}}