body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #000;
}

a {
    color: #00B7FF;
}

.tweet {
    position: relative;
    font-size: 16px;
    min-height: 70px;
    line-height: 20px;
    padding: 20px;
    color: #ddd;
    border-bottom: 1px solid #333;
    font-weight: 300;

  /* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
    animation: 0.4s ease-in 1 shimmyin;
}

.retweeted {
  margin-top: 10px;
}

.right-col {
  padding-left: 55px;
}

.left-col img{
  position: absolute;
  left: 7px;
  top: 30px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.tweet-text {
    margin-top: 9px;
}

img.tweet-media {
    margin-top: 25px;
    height: 160px;
    vertical-align: top;
    margin-right: 10px;
}

.timestamp {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aaa;
    font-size: 12px;
    text-decoration: none;
    transition: color 100ms ease-in;
    font-weight: 500;
    padding: 2px 6px;
    border-radius: 1px;
    background-color: #222;
}

@keyframes shimmyin {
    from {
        background-color: rgba(100, 100, 100, 1);
    }

    to {
        background-color: rgba(0, 0, 0, 1);
    }
}

.timestamp:hover {
    color: #888;
}
